{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/machines.js')}}"></script>
{% endblock %}
{% block title %}Machines{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Machines Section -->
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Machines</h3>
                {% if can_edit %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMachineModal">
                    <i class='bx bx-plus'></i>
                </button>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input type="text" class="form-control" id="machineSearch" placeholder="Rechercher des machines...">
                </div>
                <div class="scrollable-section">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Statut</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="machinesBody">
                                {% for machine in machines %}
                                <tr>
                                    <td>{{ machine.name }}</td>
                                    <td>
                                        <span class="badge bg-{{ 'success' if machine.status == 'operational' else 'light' if machine.status == 'maintenance' else 'danger' }}">
                                            {{ machine.status }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ 'Service' if machine.type else 'Machine' }}
                                    </td>
                                    <td>
                                        {% if can_edit %}
                                        <button class="btn btn-sm btn-light" data-action="edit-machine" data-id="{{ machine.id }}">
                                            <i class='bx bx-edit-alt'></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" data-action="delete-machine" data-id="{{ machine.id }}">
                                            <i class='bx bx-x'></i>
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="noMachinesFound" class="text-center py-3" style="display: none;">
                            <p class="text-muted">Aucune machine trouvée correspondant à votre recherche</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <!-- Non-functioning Machines Section -->
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Machines en panne</h3>
                {% if can_edit %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNonFunctioningMachineModal">
                    <i class='bx bx-plus'></i>
                </button>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input type="text" class="form-control" id="nonFunctioningMachineSearch" placeholder="Rechercher des machines en panne...">
                </div>
                <div class="scrollable-section">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Problème</th>
                                    <th>Date de signalement</th>
                                    <th>Date de réparation</th>
                                </tr>
                            </thead>
                            <tbody id="nonFunctioningMachinesBody">
                                {% for machine in non_functioning_machines %}
                                <tr data-machine-id="{{ machine.id }}">
                                    <td>{{ machine.name }}</td>
                                    <td>{{ machine.issue }}</td>
                                    <td>{{ machine.reported_date }}</td>
                                    <td>
                                        {% if not machine.fixed_date  %}
                                            {% if can_edit %}
                                                <button class="btn btn-sm btn-light" data-action="mark-fixed" data-id="{{ machine.id }}">
                                                    Marquer Réparée
                                                </button>
                                            {% endif %}
                                        {% else %}
                                                {{ machine.fixed_date.strftime('%Y-%m-%d %H:%M:%S') }}
                                        {% endif %}   
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="noNonFunctioningMachinesFound" class="text-center py-3" style="display: none;">
                            <p class="text-muted">Aucune machine en panne trouvée correspondant à votre recherche</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if can_edit %}
<!-- Add Machine Modal -->
<div class="modal fade" id="addMachineModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une machine</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="addMachineForm" data-form-action="saveMachine">
                    <div class="mb-3">
                        <label for="machineName" class="form-label">Nom de la machine</label>
                        <input type="text" class="form-control" id="machineName" required>
                    </div>
                    <div class="mb-3">
                        <label for="machineStatus" class="form-label">Statut</label>
                        <select class="form-select" id="machineStatus" disabled>
                            <option value="operational">Opérationnelle</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="machineType" class="form-label">Type</label>
                        <select class="form-select" id="machineType" required>
                            <option value="false">Machine</option>
                            <option value="true">Service</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-action="save-machine" id="machineSaveButton">Enregistrer</button>
            </div>
        </div>
    </div>
</div>


<!-- Add Non-Functioning Machine Modal -->
<div class="modal fade" id="addNonFunctioningMachineModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une machine en</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="addNonFunctioningMachineForm" data-form-action="saveNonFunctioningMachine">
                    <div class="mb-3">
                        <label for="machineSelect" class="form-label">Machine</label>
                        <select class="form-select" id="machineSelect" required>
                            <option value="">Sélectionner une machine</option>
                            {% for machine in machines %}
                            {% if machine.status == "operational" %}
                            <option value="{{ machine.id }}">{{ machine.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="issueDescription" class="form-label">Description du problème</label>
                        <input type="text" class="form-control" id="issueDescription">
                    </div>
                    <div class="mb-3">
                        <label for="reportedDate" class="form-label">Date de signalement</label>
                        <input type="date" class="form-control" id="reportedDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="reportedTime" class="form-label">Heure de signalement</label>
                        <input type="time" class="form-control" id="reportedTime" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-action="save-non-functioning">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %} 
